@font-face {
  font-family: Roboto;
  src: url("../source/Roboto/Roboto-Regular.ttf") format("trutype");
}

@font-face {
  font-family: Shrikhand;
  src: url("../source/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../source/Shrikhand/Shrikhand-Regular.otf") format("otf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#spinner #loader {
  width: 50px;
  height: 50px;
  background-color: grey;
  margin-top: 30%;
  margin-left: 30%;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
  25% {
    margin-left: 60%;
    margin-top: 30%;
    background-color: blue;
    border-radius: 30px 0px 0px 0px;
  }
  50% {
    margin-top: 55%;
    margin-left: 60%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
  }
  75% {
    margin-top: 55%;
    margin-left: 30%;
    background-color: red;
    border-radius: 30px 30px 30px 0px;
  }
  100% {
    margin-left: 30%;
    margin-top: 30%;
    background-color: red;
    border-radius: 30px 30px 30px 30px;
  }
}

@keyframes loader {
  25% {
    margin-left: 60%;
    margin-top: 30%;
    background-color: blue;
    border-radius: 30px 0px 0px 0px;
  }
  50% {
    margin-top: 55%;
    margin-left: 60%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
  }
  75% {
    margin-top: 55%;
    margin-left: 30%;
    background-color: red;
    border-radius: 30px 30px 30px 0px;
  }
  100% {
    margin-left: 30%;
    margin-top: 30%;
    background-color: red;
    border-radius: 30px 30px 30px 30px;
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

header h1 {
  font-family: Shrikhand;
  padding: 3%;
  text-align: center;
}

/* A VOIR : OMBRE SOUS LE TITRE*/
#shadow {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(silver), to(#e4e1e6));
  background: linear-gradient(to bottom, silver, #e4e1e6);
  height: 5px;
}

h2 {
  padding-bottom: 9%;
  font-weight: bolder;
}

body {
  font-family: arial, Helvetica, sans-serif;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#location p {
  background-color: #e4e1e6;
  text-align: center;
  padding: 4%;
  font-weight: bold;
}

#book {
  background-color: #f5f4f4;
  text-align: center;
  padding: 10%;
}

#book p {
  padding-bottom: 5%;
  color: #646464;
}

#book h2 {
  font-weight: bolder;
}

#book #explorebtn {
  border: none;
  font-weight: 550;
  padding: 14px;
  border-radius: 50px;
  color: white;
  width: 200px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
}

#htw {
  padding-top: 10%;
  margin-left: 8%;
}

.htwBubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 95%;
}

.num {
  background-color: #9356DC;
  color: white;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  left: 8%;
  top: 30%;
  padding: 1%;
  line-height: 15px;
}

i {
  margin-right: 12px;
  font-size: 1.2rem;
  color: #7c7c7c;
}

.bubble {
  background-color: #f5f4f4;
  border: none;
  border-radius: 20px;
  width: 70%;
  padding: 8%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin-left: 10%;
  font-size: 0.95rem;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.bubble:hover {
  background: #b07bf13a;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15%;
}

nav p {
  font-weight: bolder;
}

nav .steps {
  border: none;
  border-radius: 20px;
  width: 80%;
  padding: 8%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin-left: 10%;
}

#restaurants {
  background-color: #f0efef;
  padding-top: 20px;
  padding-bottom: 5%;
}

#restaurants h3 {
  margin-left: 7%;
  font-weight: bolder;
  font-size: 1.2rem;
}

#restaurants .vignette {
  margin-left: 7%;
  padding-top: 20px;
  padding-bottom: 5%;
  position: relative;
}

#restaurants .vignette p {
  margin-top: 10px;
}

#restaurants .texteVignette {
  background-color: white;
  width: 93%;
  border-radius: 0 0 20px 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
}

#restaurants .texteVignette p {
  line-height: 2px;
  padding-bottom: 5%;
}

#restaurants .texteVignette .fa-heart {
  font-size: 25px;
  position: absolute;
  right: 12%;
  top: 78%;
}

#restaurants .texteVignette .heart1 {
  opacity: 1;
}

#restaurants .texteVignette .heart2 {
  opacity: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#restaurants .texteVignette .heart2:hover {
  cursor: pointer;
  -webkit-animation-name: colorHeart;
          animation-name: colorHeart;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes colorHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#restaurants .txt {
  margin-left: 5%;
}

#restaurants .new {
  background-color: #99E2D0;
  width: 65px;
  text-align: center;
  font-weight: bolder;
  color: #5b887d;
  border-radius: 2px;
  position: absolute;
  top: 11%;
  right: 15%;
  padding: 4px;
}

#restaurants .images {
  background-size: cover;
  background-position: center;
  width: 93%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}

#restaurants .images:hover {
  cursor: pointer;
}

#restaurants .jay {
  background-image: url("../../Projet3/source/jay-wennington.jpg");
}

#restaurants .stil {
  background-image: url("../../Projet3/source/stil.jpg");
}

#restaurants .toa {
  background-image: url("../../Projet3/source/toa.jpg");
}

#restaurants .louis {
  background-image: url("../../Projet3/source/louis-hansel.jpg");
}

footer {
  background-color: #302f2f;
  color: #f0eaea;
  font-family: Shrikhand;
  padding: 5% 10% 5% 10%;
}

footer h3 {
  font-family: Shrikhand;
  font-weight: lighter;
  margin-bottom: 10%;
}

footer i {
  margin-right: 10px;
  color: white;
  font-size: 0.9rem;
}

footer p {
  margin-bottom: 2%;
}

/**************************************************
***************************************************
***********   PAGES ANNEXE         **************
***************************************************
***************************************************/
.fa-arrow-left {
  position: absolute;
  padding-top: 5%;
  margin-left: 3%;
  color: black;
}

main {
  background-color: #f0efef;
}

#topImage {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

#menu {
  position: relative;
  width: 100%;
  bottom: 27px;
  background-color: #f0efef;
  border-radius: 30px 30px 0 0;
  padding-bottom: 2%;
}

#menu h1 {
  padding-top: 5%;
  width: 100%;
  font-size: 1.6rem;
  font-family: Shrikhand;
  margin-left: 3%;
}

#menu #enchanted {
  font-size: 1.1rem;
}

#menu #cardName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu #cardName .fa-heart {
  font-size: x-large;
  margin-top: 7%;
  margin-left: 30%;
}

#menu h2 {
  font-size: medium;
  font-weight: 100;
  padding-bottom: 3px;
  margin-left: 3%;
  margin-top: 5%;
}

#menu .greenLine {
  height: 3px;
  background-color: #99E2D0;
  width: 11%;
  margin-left: 3%;
}

#menu .animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  margin-bottom: 2%;
  margin: 3%;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
}

#menu .animation:hover {
  cursor: pointer;
}

#menu .animation:hover .food {
  width: 85%;
  border-radius: 15px 0 0 15px;
}

#menu .animation:hover .valid {
  width: 15%;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#menu .animation:hover .valid i {
  opacity: 1;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#menu .animation .food {
  background-color: #faf5f5;
  padding: 2%;
  width: 100%;
  border-radius: 15px;
  -webkit-transition-property: width border-radius;
  transition-property: width border-radius;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#menu .animation .food .plat {
  font-weight: bold;
}

#menu .animation .food .secondLineFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #353535;
  font-size: 0.9rem;
}

#menu .animation .food .price {
  font-weight: 600;
}

#menu .animation .fade1 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

#menu .animation .fade2 {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

#menu .animation .fade3 {
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}

#menu .animation .valid {
  height: inherit;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .animation .valid i {
  opacity: 0;
  color: white;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#menu #order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu .orderBtn {
  border: none;
  padding: 3% 2% 3% 2%;
  border-radius: 50px;
  color: white;
  width: 40%;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin: 10% 0;
  cursor: pointer;
  font-size: 80%;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*******************************************
********************************************
******          RESPONSIVE             *****
********************************************
*******************************************/
@media only screen and (min-width: 480px) {
  #page {
    font-size: 1.5rem;
  }
  header {
    width: 100%;
  }
  header h1 {
    font-size: 4rem;
  }
  #book #explorebtn {
    width: 40%;
    font-size: 1.2rem;
  }
  #htw {
    width: 100%;
    margin-left: 42%;
  }
  .htwBubble {
    width: 60%;
    margin: auto;
  }
  .bubble {
    font-size: 1.3rem;
  }
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants h3 {
    font-size: 2rem;
  }
  #restaurants #grille {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #restaurants .txt {
    font-size: 1.5rem;
  }
  #restaurants .vignette {
    width: 350px;
    height: auto;
    margin: 0;
  }
  #restaurants .vignette .new {
    font-size: 1.5rem;
  }
  #restaurants .vignette .fa-heart {
    display: block;
    top: 70%;
  }
  figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  figure #topImage {
    width: 50%;
    height: auto;
    border: #353535 solid 10px;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu #cardName {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu #cardName h1 {
    font-size: 2rem;
  }
  #menu .animation {
    width: 50%;
  }
  #menu .animation .food {
    font-size: 0.95rem;
  }
  #menu #order {
    width: 50%;
  }
  footer h3 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */