@font-face {
  font-family: Roboto;
  src: url("../source/Roboto/Roboto-Regular.ttf") format("trutype");
}

@font-face {
  font-family: Shrikhand;
  src: url("../source/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../source/Shrikhand/Shrikhand-Regular.otf") format("otf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-family: Shrikhand;
  padding: 3%;
  text-align: center;
}

h2 {
  padding-bottom: 9%;
  font-weight: bolder;
}

body {
  font-family: arial, Helvetica, sans-serif;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
}

#location {
  background-color: #e4e1e6;
  text-align: center;
  padding: 4%;
  font-weight: bold;
}

#book {
  background-color: #f5f4f4;
  text-align: center;
  padding: 10%;
}

#book p {
  padding-bottom: 5%;
  color: #302f2f;
}

#book h2 {
  font-weight: bolder;
}

#book #explorebtn {
  border: none;
  padding: 14px;
  border-radius: 50px;
  color: white;
  width: 200px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
}

#htw {
  padding-top: 10%;
  margin-left: 8%;
}

.htwBubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 95%;
}

.num {
  background-color: #9356DC;
  color: white;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  left: 8%;
  top: 30%;
  padding: 1%;
  line-height: 15px;
}

i {
  margin-right: 12px;
  font-size: 1.2rem;
  /*color: rgb(124, 124, 124);*/
}

.bubble {
  background-color: #f5f4f4;
  border: none;
  border-radius: 20px;
  width: 70%;
  padding: 8%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin-left: 10%;
  font-size: 0.95rem;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.bubble:hover {
  background: #b07bf13a;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15%;
}

nav p {
  font-weight: bolder;
}

nav .steps {
  border: none;
  border-radius: 20px;
  width: 80%;
  padding: 8%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin-left: 10%;
}

#restaurants {
  background-color: #e2e2e2;
  padding-top: 20px;
}

#restaurants h3 {
  margin-left: 7%;
  font-weight: bolder;
  font-size: 1.5rem;
}

#restaurants .vignette {
  margin-left: 7%;
  padding-top: 20px;
  padding-bottom: 5%;
  position: relative;
}

#restaurants .texteVignette {
  background-color: white;
  width: 93%;
  border-radius: 0 0 20px 20px;
  padding-top: 15px;
  padding-bottom: 30px;
}

#restaurants .texteVignette:hover {
  cursor: pointer;
}

#restaurants .txt {
  margin-left: 5%;
}

#restaurants .new {
  background-color: #99E2D0;
  width: 65px;
  text-align: center;
  font-weight: bolder;
  color: #5b887d;
  border-radius: 2px;
  position: absolute;
  top: 11%;
  right: 15%;
  padding: 4px;
}

#restaurants img {
  width: 93%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}

#restaurants img:hover {
  cursor: pointer;
}

footer {
  background-color: #302f2f;
  color: #f0eaea;
  font-family: Shrikhand;
  padding: 5% 10% 5% 10%;
}

footer h3 {
  font-family: Shrikhand;
  font-weight: lighter;
  margin-bottom: 10%;
}

footer i {
  margin-right: 10px;
}

footer p {
  margin-bottom: 2%;
}

/**************************************************
***************************************************
***********   PAGES ANNEXE         **************
***************************************************
***************************************************/
.fa-arrow-left {
  position: absolute;
  padding-top: 5%;
  margin-left: 3%;
  color: black;
}

#topImage {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

#menu {
  position: relative;
  width: 100%;
  background-color: #e6e4e4;
  border-radius: 30px 30px 0 0;
  padding-bottom: 2%;
  bottom: 25px;
}

#menu h1 {
  padding-top: 5%;
  font-family: Shrikhand;
  margin-left: 3%;
}

#menu #heartBis {
  position: absolute;
  top: 4%;
}

#menu h2 {
  font-size: medium;
  font-weight: 100;
  padding-bottom: 3px;
  margin-left: 3%;
  margin-top: 5%;
}

#menu .greenLine {
  height: 3px;
  background-color: #99E2D0;
  width: 9%;
  margin-left: 3%;
}

#menu .food {
  background-color: #faf5f5;
  padding: 2%;
  margin-bottom: 2%;
  margin: 3%;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  -webkit-transition-property: display, margin;
  transition-property: display, margin;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#menu .food .plat {
  font-weight: bold;
}

#menu .food .secondLineFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #302f2f;
}

#menu .food .valid {
  background-color: #9356DC;
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 15px 15px 0px;
  display: none;
}

#menu .food .valid:hover {
  cursor: pointer;
}

#menu .food .valid:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#menu .food .valid .fa-check-circle {
  color: white;
  margin-top: 25%;
  margin-left: 35%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#menu .food:hover .valid {
  display: inline;
}

#menu .food:hover .price {
  margin-right: 20%;
}

#menu .orderBtn {
  border: none;
  padding: 14px;
  border-radius: 50px;
  color: white;
  width: 200px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 15px 6px -5px #e2e2e2;
          box-shadow: 0 15px 6px -5px #e2e2e2;
  margin: 7% 30% 15% 30%;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  #page {
    max-width: none;
  }
  body {
    width: 100%;
  }
  header h1 {
    font-size: 4rem;
  }
  #book #explorebtn {
    width: 30%;
  }
  #htw {
    width: 100%;
    margin-left: 42%;
  }
  .htwBubble {
    width: 50%;
    margin: auto;
  }
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants #grille {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #restaurants .vignette {
    width: 350px;
    height: auto;
    margin: 0;
  }
  figure #topImage {
    width: 50%;
    height: auto;
    border: #302f2f solid 10px;
  }
  #menu h2 {
    font-size: 1.5rem;
  }
  #menu .food {
    width: 50%;
    margin: 2% auto;
  }
  #menu .food .valid .fa-check-circle {
    font-size: 1.5rem;
    margin: 35% 30%;
  }
  #menu .food .orderBtn {
    margin-left: 45%;
  }
  #menu footer h3 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */