$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$fakeBlack: rgb(53, 53, 53);
$shadow: 0 15px 6px -5px rgb(226, 226, 226);
$linear: linear-gradient(to bottom right, $secondaryColor, $primaryColor);


@font-face {
    font-family: Roboto;
    src: url("../source/Roboto/Roboto-Regular.ttf") format('trutype');
  }
  @font-face {
    font-family: Shrikhand;
    src: url("../source/Shrikhand/Shrikhand-Regular.ttf") format('truetype'),
    url('../source/Shrikhand/Shrikhand-Regular.otf') format('otf');
  }
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    animation-name:spinner;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    #loader {
        width: 50px;
        height: 50px;
        background-color: grey;
        margin-top: 30%;
        margin-left: 30%;
        animation-name: loader;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
    @keyframes loader {
        25% {
            margin-left: 60%;
            margin-top: 30%;
            background-color: blue;
            border-radius: 30px 0px 0px 0px;
        }
        50% {
            margin-top: 55%;
            margin-left: 60%;
            background-color: white;
            border-radius: 30px 30px 0px 0px;
        }
        75% {
            margin-top: 55%;
            margin-left: 30%;
            background-color: red;
            border-radius: 30px 30px 30px 0px;
        }
        100% {
            margin-left: 30%;
            margin-top: 30%;
            background-color: red;
            border-radius: 30px 30px 30px 30px;
        }
    }

}
@keyframes spinner{
    0% {
       opacity: 1; 
    }
    100% {
        opacity: 0;
        display: none;
    }
}
header {
    h1 {
        font-family: Shrikhand;
        padding: 3%;
        text-align: center;
    }
}
/* A VOIR : OMBRE SOUS LE TITRE*/
#shadow {
    width: 100%;
    background: linear-gradient(to bottom, rgb(192, 192, 192), rgb(228, 225, 230));
    height: 5px;
}
h2 {
    padding-bottom: 9%;
    font-weight: bolder;
}
body {
    font-family: arial, Helvetica, sans-serif;
}
#page {
    display: flex;
    flex-direction: column;
}
#location p {
    background-color: rgb(228, 225, 230);
    text-align: center;
    padding: 4%;
    font-weight: bold;
}
#book {
    background-color: rgb(245, 244, 244);
    text-align: center;
    padding: 10%;

    p {
        padding-bottom: 5%;
        color: rgb(100, 100, 100);
    }
    h2 {
        font-weight: bolder;
    }

    #explorebtn {
        border: none;
        font-weight: 500;
        padding: 14px;
        border-radius: 50px;
        color: white;
        width: 200px;
        background: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
        box-shadow: $shadow;
    }
}
#htw {
    padding-top: 10%;
    margin-left: 8%;
}
.htwBubble {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 95%;
}
.num {
    background-color: $primaryColor;
    color: white;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    left: 8%;
    top: 30%;
    padding: 1%;
    line-height: 15px;
    
}
i {
    margin-right: 12px;
    font-size: 1.2rem;
    color: rgb(124, 124, 124);
}
.bubble {
    background-color: rgb(245, 244, 244);
    border: none;
    border-radius: 20px;
    width: 70%;
    padding: 8%;
    margin-bottom: 5%;
    box-shadow: $shadow;
    margin-left: 10%;
    font-size: 0.95rem;
    transition-property: background;
    transition-duration: 500ms;
    &:hover {
        background: #b07bf13a;
    }
}
nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
    p {
        font-weight: bolder;
    }
    .steps {
        border: none;
        border-radius: 20px;
        width: 80%;
        padding: 8%;
        margin-bottom: 5%;
        box-shadow: $shadow;
        margin-left: 10%;
    }
}
#restaurants {
    background-color:  rgb(240, 239, 239);
    padding-top: 20px;
    padding-bottom: 5%;
    h3 {
        margin-left: 7%;
        font-weight: bolder;
        font-size: 1.2rem;
    }
    .vignette {
        margin-left: 7%;
        padding-top: 20px;
        padding-bottom: 5%;
        position: relative;
        p {
            margin-top: 10px;
        }
    }
    .texteVignette {
        background-color: white;
        width: 93%;
        border-radius: 0 0 20px 20px;
        padding-top: 15px;
        padding-bottom: 5px;
        box-shadow: $shadow;
        p {
            line-height: 2px;
            padding-bottom: 5%;
        }
        .fa-heart {
            font-size: 25px;
            position: absolute;
            right: 12%;
            top: 78%;

        }
        .heart1 {
            opacity: 1;
        }
        .heart2 {
            opacity: 0;
            background: linear-gradient(to bottom right, $primaryColor, $secondaryColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover {
                cursor: pointer;
                animation-name: colorHeart;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    @keyframes colorHeart {
        0% {
                opacity: 0;        
        }
        100% {
                opacity: 1;
        }
    }
    .txt {
        margin-left: 5%;
    }
    .new {
        background-color: #99E2D0;
        width: 65px;
        text-align: center;
        font-weight: bolder;
        color: #5b887d;
        border-radius: 2px;
        position: absolute;
        top: 11%;
        right: 15%;
        padding: 4px;
    }
    .images {
        background-size: cover;
        background-position: center;
        width: 93%;
        height: 200px;
        border-radius: 30px 30px 0 0;
        &:hover {
            cursor: pointer;
        }
    }
    .jay {
        background-image: url("../../Projet3/source/jay-wennington.jpg");
    }
    .stil {
        background-image: url("../../Projet3/source/stil.jpg");
    }
    .toa {
        background-image: url("../../Projet3/source/toa.jpg");
    }
    .louis {
        background-image: url("../../Projet3/source/louis-hansel.jpg");
    }
}
footer {
    background-color: rgb(48, 47, 47);
    color: rgb(240, 234, 234);
    font-family: Shrikhand;
    padding: 5% 10% 5% 10%;
    
    h3 {
        font-family: Shrikhand;
        font-weight: lighter;
        margin-bottom: 10%;
    }
    i {
        margin-right: 10px;
        color: white;
        font-size: 0.9rem;
    }
    p {
        margin-bottom: 2%;
    }
}

/**************************************************
***************************************************
***********   PAGES ANNEXE         **************
***************************************************
***************************************************/
.fa-arrow-left {
    position: absolute;
    padding-top: 5%;
    margin-left: 3%;
    color: black;
}
main {
    background-color:rgb(240, 239, 239);
}
#topImage {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}
#menu {
    position: relative;
    width: 100%;
    bottom: 27px;
    background-color: rgb(240, 239, 239);
    border-radius: 30px 30px 0 0;
    padding-bottom: 2%;
    h1 {
        padding-top: 5%;
        width: 100%;
        font-size: 1.6rem;
        font-family: Shrikhand;
        margin-left: 3%;
    }
    #enchanted {
        font-size: 1.1rem;
    }
    #cardName {
        display: flex;
        justify-content: space-between;
        .fa-heart {
            font-size: x-large;
            margin-top: 7%;
            margin-left: 30%;
        }
    }
    h2 {
        font-size: medium;
        font-weight: 100;
        padding-bottom: 3px;
        margin-left: 3%;
        margin-top: 5%;
    }
    .greenLine {
        height: 3px;
        background-color:  #99E2D0;
        width: 11%;
        margin-left: 3%;
    }
    .animation {
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin: 3%;
        border-radius: 15px;
        position: relative;
        box-shadow: $shadow;
        &:hover {
            cursor: pointer;
            .food {
                width: 85%;
                border-radius: 15px 0 0 15px;
            }
            .valid {
                width: 15%;
                transition-property: width;
                transition-duration: 1s;
                i {
                    opacity: 1;
                    animation-name: rotate;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
        .food {
            background-color: rgb(250, 245, 245);
            padding: 2%;
            width: 100%;
            border-radius: 15px;
            transition-property: width;
            transition-duration: 1s;
            .plat {
                font-weight: bold;
            }
            .secondLineFood {
                display: flex;
                justify-content: space-between;
                color: $fakeBlack;
                font-size: 0.9rem;
            }
            .price {
                font-weight: 600;
            }
        }
        .fade1 {
            animation: fadein 1s;
        }
        .fade2 {
            animation: fadein 2s;
        }
        .fade3 {
            animation: fadein 3s;
        }
        
        .valid {
            height: inherit;
            border-radius: 0 15px 15px 0;
            background-color: #99E2D0;
            width: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                opacity: 0;
                color: white;
            }
    
        }
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    #order {
        display: flex;
        justify-content: center;
    }
    .orderBtn {
        border: none;
        padding: 3% 2% 3% 2%;
        border-radius: 50px;
        color: white;
        width: 40%;
        background: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
        box-shadow: $shadow;
        margin: 10% 0;
        cursor: pointer;
        font-size: 80%;
      }
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}
/*******************************************
********************************************
******          RESPONSIVE             *****
********************************************
*******************************************/

@media only screen and (min-width: 480px) {
    #page {
        font-size: 1.1rem;
    }
    header {
        width: 100%;
        h1 {
            font-size: 3rem;
        }
    }
    #location {
        p {
            padding: 1%;
        }
    }
    #book {
        padding: 1%;
        h2 {
            padding: 2%;
        }
        p {
            padding-bottom: 3%;
        }
        #explorebtn {
            margin-bottom: 2%;
            width: 40%;
            font-size: 1.2rem;   
        }
    }
    #htw {
        display: flex;
        justify-content: center;
        padding: 3%;
        height: 30px;
    }
    .htwBubble {
        width: 60%;
        margin: auto;
    }
    .bubble {
        font-size: 1.1rem;
        padding: 5%;
    }
    nav {
        padding-bottom: 5%;
    }
    #restaurants {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        h3 {
            font-size: 2rem;
        }
        #grille {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
        .txt {
            font-size: 1.5rem;
        }
        .vignette {
            width: 350px;
            height: auto;
            margin: 0;
            .new {
                font-size: 1.5rem;
            }
            .fa-heart {
                display: block;
                top: 70%;
            }
        }
    }
    figure {
        display: flex;
        background-color: white;
        justify-content: center;
        #topImage {
            width: 50%;
            height: auto;
            border: $fakeBlack solid 10px;
            
        }
    }
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        #cardName {
            h1 {
                width: 500px;
                font-size: 2rem;
            }
        }
        .animation {
            width: 50%;
            margin: 1%;
            .food {
                font-size: 0.95rem;
            }
        }
        #order {
            width: 50%;
        }
        .orderBtn {
            margin: 8%;
        }
    }

    footer {
        h3 {
            font-size: 1.5rem;
            padding: 0;
            margin: 2%;
        }
    }
     

}